@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  font-size: 18px;
  font-family: "Outfit", sans-serif;
}


.bdrcolor{
  border-bottom: 1px solid;
  border-color: hsl(215, 32%, 27%);

}

.ethImage{
  background-image: url('/public/image-equilibrium.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


